<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/style.css">
    <title th:text="${alumno.dni}"></title>
</head>
<body>
<div class="m-4" style="margin-left: 50px">
    <h3 th:text="'Dni: ' + ${alumno.dni}">N/A</h3>
    <h3 th:text="'Nombre: ' + ${alumno.nombre}" id="name">N/A</h3>
    <input type="text" id="nameField" class="none">
    <button th:attr="onclick=|editName('${alumno.nombre}')|" id="editButton" class="button bg-primary" style="padding: 5px 10px">Editar</button>
    <button th:attr="onclick=|save('${alumno.dni}')|" id="saveButton" class="none button bg-primary" style="padding: 5px 10px">Guardar</button>
    <div class="fieldBtnSubmit d-flex" style="align-self: end">
        <a href="/index" class="button bg-primary" style="padding: 5px 10px">Volver</a>
    </div>


    <table class="tabla">
        <thead>
        <tr>
            <th>Clase</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="clase,iter: ${clase}">
            <td th:text="${clase.nombre}"></td>
            <td th:text="${clase.precio}" class="precio"></td>
        </tr>
        </tbody>
    </table>

    <div class="mt-5">
        <form th:action="@{/index/{dni}}" th:object="${clase}" method="post">
            <div class="container d-flex flex-row justify-content-around align-items-center">
                <div class="fieldBtnSubmit d-flex w-100 justify-content-center" style="align-self: end">
                    <table class="col-7">
                        <tr th:each="boton, iter: ${clasesBotones}">
                            <td>
                                <a th:href="@{/index/{clase}/{dni}(clase=${boton.id}, dni=${alumno.dni})}"
                                   th:text="'Inscribir ' + ${boton.nombre}"
                                   class="button bg-primary" style="padding: 5px 10px">Inscribir</a>
                                <a th:href="@{/index/borrar/{clase}/{dni}(clase=${boton.id}, dni=${alumno.dni})}"
                                   th:text="'Borrar de ' + ${boton.nombre}"
                                   class="button bg-red" style="padding: 5px 10px">Borrar</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>

    <h4 id="precioTotal"></h4>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script>
    const precioTotalField = document.getElementById("precioTotal");
    const precio = document.getElementsByClassName("precio");
    let precioTotal = 0;

    for (let preciovalue of precio) {
        precioTotal = precioTotal + parseInt(preciovalue.innerHTML);
    }

    precioTotalField.innerText = "Precio total a pagar: " + precioTotal;

    const name = document.getElementById('name');
    const nameField = document.getElementById('nameField');
    const editButton = document.getElementById('editButton');
    const saveButton = document.getElementById('saveButton');
    let editando = false;
    const editName = (nombre) => {
        switch (editando){
            case false:
                name.classList.add('none');
                nameField.classList.remove('none');
                saveButton.classList.remove('none');
                nameField.value = nombre;
                editando = true;
                editButton.innerText = "Cancelar";
                break;
            case true:
                name.classList.remove('none');
                nameField.classList.add('none');
                saveButton.classList.add('none');
                editando = false;
                editButton.innerText = "Editar";
                break;
        }
    }


    const save = (dni) => {
        console.log('entra en save');
        if (nameField.value != null && nameField.value.length > 0 && nameField.value.length < 50) {
            console.log('entra en guardado');
            //window.location.href = "/index";
            window.location.href = "/index/update/" + dni + "/" + nameField.value;
        }
    }

</script>
</body>
</html>